{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="about-section text-center my-5">
    <h1>About Mini Mart</h1>
    <p>
        Welcome to Mini Mart, where we bring you the best products at unbeatable prices.
        Our mission is to offer you top-quality items that meet your needs, while ensuring a smooth and enjoyable shopping experience.
        Whether you're looking for the latest trends or timeless essentials, we've got it all. We pride ourselves on customer satisfaction
        and aim to build lasting relationships with each of our shoppers. Shop with confidence, knowing you're getting the best value for your money!
    </p>
</section>
{% endblock %}